.homepage {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formScreenContainer {
    width: var(--max-width);
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}