.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown label {
  font-weight: 500;
  margin: 8px 0;
  display: block;
  width: 100%;
}

.dropdownToggle {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: var(--input-border);
  background-color: #fff;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.dropdownToggle span {
  margin-top: 2px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: var(--input-border);
  background-color: #fff;
  z-index: 1;
}

.dropdownMenu li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: #f2f2f2;
}
